
@charset "utf-8";
// ##VARIBLES
// Color
$bg-content: #F6F6F6;
$bg-home-form: #EAEAEA;
$bg-footer: #353535;

$cold-color: #99E2D0;
$cold-color-txt: #008766;

$hot-color1: #9356DC;
$hot-color2: #FF79DA;

// ##MIXIN
// Fonts
@mixin main-font{font-family: 'Roboto', sans-serif;}
@mixin theme-font{font-family: 'Shrikhand', cursive ;}
//Shadow 
@mixin shadow{box-shadow: 0 4px 6px rgba(0, 0, 0, .2);}
@mixin ellipsis{overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}


// ##RESET & GENERAL
/*  ##RESET & GENERAL## */
*{margin: 0; padding: 0; box-sizing: border-box;}

img, svg{display: block;width: 100%;}

a{text-decoration: none; color: black;}

input, fieldset{border: inherit; background-color: inherit; color: inherit; font-family: inherit;}

body{
    //width: 100%;
    @include main-font;
    font-size: 1rem;
}

main{position: relative;}

section, footer{padding: 1.5rem 1rem;}

h2{font-size: 24px;}


// --HEADER--
/* --HEADER-- */
nav{
    width: 100%;
    max-height: 23.5rem;
    min-height: 4rem;
    display: flex;
    flex-direction: column;
    position: relative;
    
    img{
        max-height: 36px;
        min-height: 13px;
        margin: 1rem 0;
        padding: 0 3rem;
    }

    .home-form{
        background: $bg-home-form;
        display: flex;
        justify-content: space-around;
        padding: 15px 0;
        box-shadow: inset 0 4px 6px rgba(0, 0, 0, .2);
        
        form{
            width: 9.5rem;
            display: flex;
            justify-content: space-between;
    
            input{
                padding-right: 0.6rem;
                width: 90%;
                &::-webkit-input-placeholder{
                    font-family: 'Roboto', sans-serif;
                    font-size: 1rem;
                    font-weight: 700;
                    color: black;
                    text-align: right;
                }
                &::-moz-placeholder{
                    font-family: 'Roboto', sans-serif;
                    font-size: 1rem;
                    font-weight: 700;
                    color: black;
                    text-align: right;
                }
                &:-ms-input-placeholder{
                    font-family: 'Roboto', sans-serif;
                    font-size: 1rem;
                    font-weight: 700;
                    color: black;
                    text-align: right;
                }
                &::-ms-input-placeholder{
                    font-family: 'Roboto', sans-serif;
                    font-size: 1rem;
                    font-weight: 700;
                    color: black;
                    text-align: right;
                }
                &::placeholder{
                    font-family: 'Roboto', sans-serif;
                    font-size: 1rem;
                    font-weight: 700;
                    color: black;
                    text-align: right;
                }    
            }
        }   
    }

    .return-home{
        position: absolute;
        top: 1.6rem; left: 1rem;
        
        .fa-arrow-left{
            font-size: 1.2rem;
            font-weight: 700;
            }
    }
    
}
// --SPECIALS ELEMENTS--
/* --SPECIALS ELEMENTS-- */

// --Import other SASS-- 
/* --Import other SASS-- */

//Loader home page 
/*Loader home page*/
@import "loader.scss";

//Pages
/*Pages*/
@import "home_page.scss" ;
@import "restos_pages.scss";

// --Elements for all site-- 
/* --Elements for all site-- */

//Call to action
/*Call to action*/
.btn{
    cursor: pointer;
    max-width: 218px;
    height: 50px;
    padding: 0 0.5rem;
    background: linear-gradient($hot-color2 0%, $hot-color1 100%);
    color: white;
    font-size: 1.1rem;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2.5rem auto;
    opacity: 1;
    @include shadow;
    transform: scale(1);
    transition: all 400ms;
    &:hover{
        transform: scale(1.01);
        opacity: 0.85;
        box-shadow: 0 6px 4px rgba(0, 0, 0, .3);    
    }
    @media (min-width: 300px){width: 218px;}
}

//Heart checkbox
/*Heart checkbox*/
.favorit{
    /*$rule-width : modidifier sa valeur pour changer la taille du coeur. les effets s'ajuste automatiquement au nouveau réglage */
    $rule-width: 40px; 
    width: $rule-width;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .heart{
        width: 80%;
        aspect-ratio: 1/1;
        display: grid;
        top: 3%;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
        position: relative;
        transform: rotate(-135deg);
        padding-top: 25%;
        padding-left: 25%;
        &__left, &__right, &__whiteright{
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            box-shadow: inset 0 $rule-width 0 rgba(255, 255, 255, 1);
            transition: box-shadow 400ms ease-in-out;
        }
        &__left, &__right{
            background: linear-gradient(135deg, $hot-color1 0%, $hot-color2 100%);
            border: 2px solid black;
            box-shadow: inset 0 $rule-width 0 rgba(255, 255, 255, 1);
            transition: box-shadow 400ms;
        }
        &__left{
            width: 200%;
            height: 100%;
            border-radius: 0 9vw 9vw 0;
            z-index: 1;
        }
        &__right{
            height: 200%;
            width: 100%;
            border-radius: 0 0 9vw 9vw;
            z-index: 2;
        }
        &__whiteright{
            border: 1px solid white;
            background: white;
            width: calc(200% - 3.8px);
            height: calc(100% - 3px);
            border-radius: 0 9vw 9vw 0;
            margin-top: 1.5px;
            margin-left: 2px;
            z-index: 3;
        }
        input[type=checkbox] {
            visibility: hidden;
            width: 1rem;
            height: 1rem;
            position: relative;
            &:checked ~ .heart__transit{
                box-shadow: inset 0 0px 0px rgba(255, 255, 255, 0);
                border: none;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            }
            &:checked ~ .heart__whiteright{
                display: none;
            }
        } 
        @media (min-width: 1024px){
            &:hover{
                .heart__left,.heart__right{
                    box-shadow: inset 0 0px 0px rgba(255, 255, 255, 1);
                    border: none;  
                    -webkit-backface-visibility: hidden;  
                    backface-visibility: hidden;    
                }
                .heart__whiteright{
                    display: none;
                }
            }
        }   
    }
}

// --FOOTER--
/* --FOOTER-- */
footer{
    background: $bg-footer;
    dl{
        display: flex;
        flex-direction: column;
        @media (min-width: 767px){
            width: 100%;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;
            dt{width: 20%; text-align: center;}
            dt, dd{ 
                margin: 0.5rem;
            }
        }
    }
    dt{
        margin: 1rem 0;
        @include theme-font;
        font-size: 1.4rem;
    }
    dd{margin: 0.4rem 0;}
    a{
        color: white;
        .fa-utensils, .fa-handshake-angle{margin-right: 0.5rem;}
    }
    @media (min-width: 1023px){
        text-align: right;
        display: flex;
        justify-content: flex-end;
        dl{
            width: 70%;
            dt{
                order: 5;
                width: 20%;
            }
        }    
    }    
}


