
@charset "utf-8";
// ##VARIBLES
// Color
$bg-content: #F6F6F6;
$bg-home-form: #EAEAEA;
$bg-footer: #353535;
$gradient: linear-gradient(#FF79DA, #9356DC);
$adjust-color: #99E2D0;
$adjust-color-txt: #008766;
$home-adjust-color: #9356DC; 

// ##MIXIN
// Fonts
@mixin main-font{font-family: 'Roboto', sans-serif;}
@mixin theme-font{font-family: 'Shrikhand', cursive ;}
//Shadow 
//NB filter désactiver pour test à vérifier
//@mixin shadow{filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.15));}
@mixin shadow{box-shadow: 0 4px 6px rgba(0, 0, 0, .2);}


// ##RESET & GENERAL
/*  ##RESET & GENERAL## */
*{margin: 0; padding: 0; box-sizing: border-box;}

img, svg{display: block;width: 100%;}

a{text-decoration: none; color: black;}

input, fieldset{border: inherit; background-color: inherit; color: inherit; font-family: inherit;}

body{
    @include main-font;
    font-size: 1rem;
}

section, footer{
    padding: 1.5rem 1rem;
}

h2, .h2{
    font-size: 24px;
    margin: 0 0 1rem 0;
}
// --HEADER--
/* --HEADER-- */
nav{
    width: 100%;
    max-height: 23.5rem;
    min-height: 4rem;
    display: flex;
    flex-direction: column;
    position: relative;
    
    img{
        max-height: 36px;
        margin: 1rem 0;
    }

    .home-form{
        background: $bg-home-form;
        display: flex;
        justify-content: space-around;
        padding: 15px 0;
        box-shadow: inset 0 4px 6px rgba(0, 0, 0, .2);
        
        form{
            width: 9.5rem;
            display: flex;
            justify-content: space-between;
    
            input{
                padding-right: 0.6rem;
                width: 90%;
                &::placeholder{
                    font-family: 'Roboto', sans-serif;
                    font-size: 1rem;
                    font-weight: 700;
                    color: black;
                    text-align: right;
                }    
            }
        }   
    }

    .return-home{
        position: absolute;
        top: 1.6rem; left: 1rem;
        
        .fa-arrow-left{
            font-size: 1.2rem;
            font-weight: 700;
            }
    }
    
}
// --SPECIALS ELEMENTS--
/* --SPECIALS ELEMENTS-- */

.btn{
    width: 218px;
    height: 50px;
    background: $gradient;
    //background: red;
    color: white;
    font-size: 1.1rem;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2.5rem auto;
    opacity: 1;
    @include shadow;
    transform: scale(1);
    transition: all 400ms;


    &:hover{
        transform: scale(1.01);
        opacity: 0.85;
        box-shadow: 0 6px 4px rgba(0, 0, 0, .3);    
    }
}

//heart test checkbox
.favorit{
    width: 50px;
    height: 50px;
    ///margin: auto;
    //background: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    //position: relative;
    //z-index: 4;
    .heart{
        //background: yellow;
        width: 80%;
        height: 80%;
        display: grid;
        top: 3%;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
        position: relative;
        transform: rotate(-135deg);
        padding-top: 25%;
        padding-left: 25%;

        &__left, &__right, &__whiteright{
            grid-column: 1/2;
            grid-row: 1/2;
            border: 2px solid black;
            background: white;
            //background: linear-gradient(135deg, #FF79DA 0 , #9356DC 100%);
        }

        &__left{
            //background: pink;
            width: 200%;
            height: 110%;
            border-radius: 0 10vw 10vw 0;
        }

        &__right{
            //background: purple;
            height: 200%;
            width: 110%;
            border-radius: 0 0 10vw 10vw;

        }

        &__whiteright{
            border: 1px solid white;
            //background: red;
            width: calc(200% - 3.75px);
            height: calc(110% - 3px);
            border-radius: 0 10vw 10vw 0;
            margin-top: 1.5px;
            margin-left: 2px;
        }
        
        &:hover{
            .heart__left, .heart__right{
                background: linear-gradient(135deg, #FF79DA , #9356DC);
                border: none;
            }
            
            .heart__whiteright{
                display: none;
            }
        }
        
        input[type=checkbox] {
            visibility: hidden;
            width: 1rem;
            height: 1rem;
            position: relative;
            &:checked ~ .heart__transit{
                background: linear-gradient(135deg, #FF79DA, #9356DC);
                border: none;
            }

            &:checked ~ .heart__whiteright{
                display: none;
            }
        }    
    }    
}

//heart test4
/*.heart__wrap{
    width: 50px;
    height: 50px;
    //margin: auto;
    //background: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .heart{
        //background: yellow;
        width: 80%;
        height: 80%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
        position: relative;
        transform: rotate(-135deg);
        padding-top: 25%;
        padding-left: 25%;

        &__left, &__right, &__whiteright{
            grid-column: 1/2;
            grid-row: 1/2;
            border: 2px solid black;
            background: white;
            //transition: all 800ms;
        }

        &__left{
            //background: pink;
            width: 200%;
            height: 110%;
            border-radius: 0 10vw 10vw 0;
        }

        &__right{
            //background: purple;
            height: 200%;
            width: 110%;
            border-radius: 0 0 10vw 10vw;

        }

        &__whiteright{
            border: 1px solid white;
            //background: red;
            width: calc(200% - 3.45px);
            height: calc(110% - 3.45px);
            border-radius: 0 10vw 10vw 0;
            margin-top: 1.75px;
            margin-left: 2px;
        }    
    }
    
    &:hover, &:active{
        .heart__left, .heart__right{
            
            background: linear-gradient(135deg, #FF79DA, #9356DC);
            border: none;
        }
        
        .heart__whiteright{
            display: none;
        }
    }
    
}*/

//Loader wait
.loader{
    width: 100%;
    height: 400px;
    background: lightblue;
    display: flex;
    align-items: center;
    .wait{
        margin: auto;
        width: 300px;
        height: 300px;
        background: lightcoral;
        display: flex;
        align-items: center;
        justify-content: space-around;

        &__plate{
            width: 90%;
            aspect-ratio: 1 / 1;
            background: white;
            border-radius: 50%;
            text-align: center;
            padding: 7%;
            display: flex;
            align-items: center;
            position: relative;
            overflow: hidden;
            background: radial-gradient(circle, rgba(153,226,208,1) 50%, rgba(208,247,237,1) 100%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;


            &__logo{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                @include theme-font;
                font-size: 6vw;
                margin-top: 2%;         
            }

            .logo_bottom{
                transform: rotate(180deg);
                //bottom: 8%;
            }

            &__shadowIn{
                width: 70%;
                aspect-ratio: 1 / 1;
                border-radius: 50%;
                border-bottom: 5px solid rgba(0, 0, 0, .25);
                margin: auto;
                //align-self: center;
                border-top: 1px solid rgba(0, 0, 0, .50);
                box-shadow: 0 60px 60px rgba(0, 0, 0, .20);
                background: white;
                filter: blur(1.5px);
            }
        }

    }
}


// --Home page--
/* --Home page-- */
.home h2, .home h3{ 
    font-weight: 700;
}

.home__blurb{
    background: $bg-content;
    text-align: center;

    h1{
        font-size: 1.5rem; 
        font-weight: 700;
        margin: 1rem 0;

        @media (min-width: 767px){
            font-size: 2.5rem;
        }
    }

    p{font-size: 1.12rem; font-weight: 300;margin: 1rem 0;}
}

.home__steps{
    ol{padding-right: 1rem;}

    li {
    width: 100%;
    height: 72.5px;
    border-radius: 20px;
    background: $bg-content;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    margin: 1.5rem 0 1.5rem 0.5rem;

    @media (min-width: 768px) {
        margin: 0;
    }

    @include shadow;

    span{
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        color: white;
        background: $home-adjust-color;
        text-align: center;
        line-height: 1.50rem;
        margin: 0 1rem 0 -1.25rem;
    }

    i{margin-right: 1.5rem;}
    .fa-store{color: $home-adjust-color;}
    
    }

    @media (min-width: 767px){
        max-width: 1080px;
        margin: 0 auto;
        
        ol{
            display: flex;
            justify-content: space-between;
            padding-right: 0;

            li{width: 31%;}
        
        }
    }
} 

.home__resto{
    background: $bg-content;

    &__wrapper{
        max-width: 1080px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    article{
        width: 100%;
        border-radius: 25px;
        overflow: hidden;
        position: relative;
        background: white;
        margin: 1rem 0;
        @include shadow;

        .flag__new{
            width: 5rem;
            height: 1.8rem;
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
            background: $adjust-color;
            color: $adjust-color-txt;
            text-align: center;
            line-height: 1.80rem;
            border-radius: 2px;
        }

        img{
            height: 14.45rem;
            object-fit: cover;
        }

        .home__article__content{
            padding: 1rem;
            h3{font-size: 1.12rem; font-weight: 700;}
            p{font-weight: 300;}

        }

        .favorit{
            position: absolute;
            bottom: 4%;
            right: 1.5%;
            z-index: 10;
        }
    }

    @media (min-width: 767px){
        &__wrapper {
            justify-content: space-between;
            h2{width: 100%;}
            article{
                width: 48%;
            }
        }           
    }    
}

// --Resto pages--
/* --Resto pages-- */

.resto{

    &__img{
        height: 400px;
        width: 100%;
        background-position: center;
        background-size: cover;
    }

    .palette_gout{
        background-image: url("../../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    }
    
    .note-enchant{
        background-image: url("../../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    }

    .delice-sens{
        background-image: url("../../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    }

    .a-la-francaise{
        background-image: url("../../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    }

    &__menu{
        background: $bg-content;
        border-radius: 40px 40px 0 0;
        max-width: 1080px;
        margin: -40px auto 0 auto;
    
        &__title{
            //width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1{ 
                max-width: 80%;
                @include theme-font;
                font-size: 28px;
                margin: 1rem 0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            @media (min-width: 767px){
                margin: 1rem auto;
                max-width: 350px;
            }
        }

        form{
            width: 100%;
            max-width: 650px;
            margin: 0 auto;

            fieldset{
                margin: 0.5rem 0;
            }

            legend{
                margin: 1.5rem 0 0.5rem 0;
                
            }

            hr{
                width: 40px;
                height: 3px;
                border: none;
                background: $adjust-color;
                margin: 0.25rem 0 0 0; 
            }

            .form__card{
                width: 100%;
                height: 5.5rem;
                background: white;
                margin: 1rem 0;
                //padding: 1rem;
                border-radius: 15px;
                //position: relative;//à neutraliser avec le !NB1! ci-dessous
                overflow: hidden;
                

//!NB1! essai mise en place pour animation checkbox
                //display: flex;
                //flex-direction: row;
                //flex-wrap: nowrap;//fin !NB1!
                //justify-content: space-between;
                //align-items: center;


                @include shadow;

                .over_wrapper{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;

                    label{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        margin: 1rem;
                        overflow: hidden;
                        //text-overflow: ellipsis;
    
                        
                    }
    
                    .h2{
                        margin: 0 0 0.5rem 0;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        &__content{
                            font-weight: 300;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            justify-content: space-between;
                            
                            .price{font-weight: 500;}
                        }
                    }
    
                   
    
                    input[type=checkbox]{
                        //display: none;//à neutraliser avec le !NB1! ci-dessus
                        //position: absolute;//à neutraliser avec le !NB1! ci-dessus
                        //position: relative;
                        //top: 0;
                        //right: 100px;
                        //box-shadow: none;
                        //width: 110px;
                        height: 100%;
                        aspect-ratio: 1 / 1;
                        border: 2px solid red;
                        //position: absolute;
                        //right: -20%;
                    }
                }   
            }
        }
    }
}


// Footer
/* Footer */
footer{
    background: $bg-footer;


    dl{
        display: flex;
        flex-direction: column;
        @media (min-width: 767px){
            width: 100%;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;
            dt{width: 20%; text-align: center;}
            dt, dd{ 
                margin: 0.5rem;
            }
        }
    }

    dt{
        margin: 1rem 0;
        @include theme-font;
        font-size: 1.4rem;
    }

    dd{margin: 0.4rem 0;}
    
    a{
        color: white;

        .fa-utensils, .fa-handshake-angle{margin-right: 0.5rem;}
    }

    @media (min-width: 1023px){
        text-align: right;
        display: flex;
        justify-content: flex-end;

        dl{
            width: 70%;

            dt{
                order: 5;
                width: 20%; 
                //text-align: none;
            }
        }    
    }    
}


