//Switch loader top and in Home Page: comment and uncomment your choise

//.loader_top{visibility: hidden;}
.loader_in{visibility: hidden;}

//loader animated
.loader{ 
    width: 100%;
    height: 100%;
    background: $bg-content;
    font-size: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: fade-out 4000ms forwards;
    animation: fade-out 4000ms forwards; 
    pointer-events: none;
    z-index: 1000;

    &__wrapper{
        max-height: 400px;
        max-width: 400px;
        width: 100%;
        aspect-ratio: 1 / 1;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
        position: -webkit-sticky;
        position: sticky;
        top: 2vh;

        &__plate{
            width: 70%;
            max-width: 650px;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            background: radial-gradient(circle, white 20%, $cold-color 100%);
            display: flex;
            align-items: center;
            justify-content: space-around;
            position: relative;
            -webkit-filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.15));
            border: 2px solid rgba(180, 214, 205, 0.5);
            border-bottom: none;
            transform: rotate(0deg);
            -webkit-animation: plate-grow 1000ms ease-in 0ms 1;
            animation: plate-grow 1000ms ease-in 0ms 1;

            &__text{
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                z-index: 5;
                display: flex;
                align-items: center;
                justify-content: space-around;
                
                &__wait{
                    position: absolute;
                    @include theme-font;
                    font-size: 1.5rem;
                    text-align: center;
                    color: $hot-color1;
                    opacity: 1;
                    -webkit-animation: text-rotate 2000ms  infinite;
                    animation: text-rotate 2000ms  infinite 300ms;

                    @media (min-width: 500px){
                        font-size: 3.8vw;
                    }
                    @media (min-width: 780px){
                        font-size: 1.9rem;
                    }
                }
            }
            
            &__shadowIn{
                height: 70%;
                aspect-ratio: 1 / 1;
                border-radius: 50%;
                border-bottom: 5px solid rgba(0, 0, 0, .25);
                border-top: 1px solid rgba(0, 0, 0, .50);
                background: white;
                -webkit-filter: blur(1.5px);
                filter: blur(1.5px);
                -webkit-animation: in-plate-grow 1000ms ease-in 1;
                animation: in-plate-grow 1000ms ease-in 1;    
            }    
        }
        
        &__fork, &__knife{
            .cutlery{
                height: 30vw;
                min-height: 100px;
                max-height: 200px;
            }
        }    
    }

//Loader animation

    @-webkit-keyframes fade-out {
        75% {
            opacity: 1
        }
        100% {
            opacity: 0
        }
    }
    @keyframes fade-out {
        75% {
            opacity: 1
        }
        100% {
            opacity: 0
        }
    }

    @-webkit-keyframes plate-grow{
        0%{
            aspect-ratio: 1.5 / 1;
            border-radius: 5%;
            transform: rotate(0deg) scale(0.1);
        }

        100%{
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            transform: rotate(360deg) scale(1);
        }
    }
    @keyframes plate-grow{
        0%{
            aspect-ratio: 1.5 / 1;
            border-radius: 5%;
            transform: rotate(0deg) scale(0.01);
        }

        100%{
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            transform: rotate(360deg) scale(1);
        }

        
    }

    @-webkit-keyframes in-plate-grow{
        0%{
            aspect-ratio: 1.5 / 1;
            border-radius: 5%;
        }
        100%{
            //width: 70%;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
        }
    }
    @keyframes in-plate-grow{
        0%{
            aspect-ratio: 1.5 / 1;
            border-radius: 5%;
        }
        100%{
            aspect-ratio: 1 / 1;
            border-radius: 50%;
        }
    }

    @-webkit-keyframes text-rotate {
        0%{
            transform: rotate(720deg);
            opacity: 0;
        }
        100%{
            transform: rotate(1080deg);
            opacity: 1;
        }
    }
    @keyframes text-rotate {
        0%{
            transform: rotate(720deg);
            opacity: 0;
        }
        100%{
            transform: rotate(1080deg);
            opacity: 1;
        }
    }

}

