/*  ##RESET & GENERAL## */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img, picture, video, canvas, svg {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

input, fieldset {
  border: inherit;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

section, footer {
  padding: 1.75rem 1rem;
}

h2, h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
}
h2h3, h3h3 {
  font-size: 1.12rem;
}

/* --HEADER-- */
nav {
  width: 100%;
  max-height: 23.5rem;
  min-height: 4rem;
  display: flex;
  flex-direction: column;
}
nav img {
  height: 36px;
  margin: 0 0 1rem 0;
}
nav img.home-logo {
  margin: 1rem 0;
}
nav .return-home {
  position: relative;
  top: 1.7rem;
  left: 1rem;
}
nav .return-home .fa-arrow-left {
  font-size: 1.2rem;
  font-weight: 700;
}

/* --Home Page-- */
.home-form {
  background: #EAEAEA;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2);
}
.home-form div {
  width: 9.5rem;
  display: flex;
  justify-content: space-between;
}
.home-form div input {
  padding-right: 0.6rem;
  width: 90%;
}
.home-form div input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: black;
  text-align: right;
}

/*  ##MAIN## */
/* --Home Page-- */
.sub_header {
  background: #F6F6F6;
  text-align: center;
  padding: 1.5rem 20%;
  /* Hook restaurant*/
}
.sub_header h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
}
@media (min-width: 767px) {
  .sub_header h1 {
    font-size: 2.5rem;
  }
}
.sub_header p {
  font-size: 1.12rem;
  font-weight: 300;
  margin: 1rem 0;
}
.sub_header a {
  width: 218px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem auto;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50px;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.15));
}

.use_steps {
  list-style-position: inside;
}
.use_steps ol {
  padding-left: 0.5rem;
  list-style: none;
}
.use_steps li {
  width: 100%;
  height: 50px;
  border-radius: 20px;
  background: #F6F6F6;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin: 1.5rem 0;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.15));
}
.use_steps li span {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  background: #9356DC;
  text-align: center;
  vertical-align: center;
  line-height: 1.55rem;
  position: relative;
  left: -1.5rem;
  overflow: visible;
}
.use_steps li i {
  margin-right: 1.5rem;
}
.use_steps li .fa-store {
  color: #9356DC;
}
@media (min-width: 767px) {
  .use_steps {
    max-width: 1080px;
    margin: 0 auto;
  }
  .use_steps ol {
    display: flex;
    justify-content: space-between;
  }
  .use_steps ol li {
    width: 31%;
  }
}

/* Footer */
footer {
  background: #353535;
}
footer dl {
  display: flex;
  flex-direction: column;
}
@media (min-width: 767px) {
  footer dl {
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
  footer dl dt {
    width: 20%;
    text-align: center;
  }
  footer dl dt, footer dl dd {
    margin: 0.5rem;
  }
}
footer dt {
  margin: 1rem 0;
}
footer dd {
  margin: 0.4rem 0;
}
footer a {
  color: white;
}
footer a.footer-title {
  font-family: "Shrikhand", cursive;
  font-size: 1.4rem;
}
footer a .fa-utensils, footer a .fa-handshake-angle {
  margin-right: 0.5rem;
}
@media (min-width: 1023px) {
  footer {
    text-align: right;
    display: flex;
    justify-content: flex-end;
  }
  footer dl {
    width: 70%;
  }
  footer dl dt {
    order: 5;
    width: 20%;
    text-align: none;
  }
}

/*# sourceMappingURL=default.css.map */
