/*  ##RESET & GENERAL## */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img, svg {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

input, fieldset {
  border: inherit;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

main {
  position: relative;
}

section, footer {
  padding: 1.5rem 1rem;
}

h2 {
  font-size: 24px;
}

/* --HEADER-- */
nav {
  width: 100%;
  max-height: 23.5rem;
  min-height: 4rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
nav img {
  max-height: 36px;
  min-height: 13px;
  margin: 1rem 0;
  padding: 0 3rem;
}
nav .home-form {
  background: #EAEAEA;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2);
}
nav .home-form form {
  width: 9.5rem;
  display: flex;
  justify-content: space-between;
}
nav .home-form form input {
  padding-right: 0.6rem;
  width: 90%;
}
nav .home-form form input::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: black;
  text-align: right;
}
nav .home-form form input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: black;
  text-align: right;
}
nav .home-form form input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: black;
  text-align: right;
}
nav .home-form form input::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: black;
  text-align: right;
}
nav .home-form form input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: black;
  text-align: right;
}
nav .return-home {
  position: absolute;
  top: 1.6rem;
  left: 1rem;
}
nav .return-home .fa-arrow-left {
  font-size: 1.2rem;
  font-weight: 700;
}

/* --SPECIALS ELEMENTS-- */
/* --Import other SASS-- */
/*Loader home page*/
.loader_in {
  visibility: hidden;
}

.loader {
  width: 100%;
  height: 100%;
  padding: 5vw;
  background: rgb(234, 234, 234);
  font-size: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: fade-out 4000ms forwards;
  animation: fade-out 4000ms forwards;
  pointer-events: none;
  z-index: 1000;
}
.loader__wrapper {
  min-height: 150px;
  max-height: 400px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  position: -webkit-sticky;
  position: sticky;
  top: 20%;
}
.loader__wrapper__plate {
  width: 70%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: radial-gradient(circle, rgb(255, 255, 255) 20%, rgb(153, 226, 208) 120%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  -webkit-filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.15));
  border: 2px solid rgba(180, 214, 205, 0.5);
  border-bottom: none;
  transform: rotate(0deg);
  -webkit-animation: plate-grow 1000ms ease-in 0ms 1;
  animation: plate-grow 1000ms ease-in 1;
}
.loader__wrapper__plate__text {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.loader__wrapper__plate__text__logo, .loader__wrapper__plate__text__wait {
  position: absolute;
  opacity: 1;
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
  text-align: center;
  color: #9356DC;
  opacity: 1;
  -webkit-animation: text-rotate 2000ms infinite;
  animation: text-rotate 2000ms infinite;
}
@media (min-width: 500px) {
  .loader__wrapper__plate__text__logo, .loader__wrapper__plate__text__wait {
    font-size: 3.8vw;
  }
}
@media (min-width: 780px) {
  .loader__wrapper__plate__text__logo, .loader__wrapper__plate__text__wait {
    font-size: 1.9rem;
  }
}
.loader__wrapper__plate__shadowIn {
  height: 70%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border-bottom: 5px solid rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  background: white;
  -webkit-filter: blur(1.5px);
  filter: blur(1.5px);
  animation: in-plate-grow 1000ms ease-in 1;
}
.loader__wrapper__fork .cutlery, .loader__wrapper__knife .cutlery {
  height: 30vw;
  min-height: 100px;
  max-height: 200px;
}
@-webkit-keyframes fade-out {
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes text-rotate {
  0% {
    transform: rotate(720deg);
    opacity: 0;
  }
  100% {
    transform: rotate(1080deg);
    opacity: 1;
  }
}
@keyframes text-rotate {
  0% {
    transform: rotate(720deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(1080deg);
    opacity: 1;
  }
}
@-webkit-keyframes plate-grow {
  0% {
    width: 10%;
    aspect-ratio: 1.5/1;
    border-radius: 5%;
    transform: rotate(0deg);
  }
  100% {
    width: 70%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transform: rotate(360deg);
  }
}
@keyframes plate-grow {
  0% {
    width: 10%;
    aspect-ratio: 1.5/1;
    border-radius: 5%;
    transform: rotate(0deg);
  }
  100% {
    width: 70%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transform: rotate(360deg);
  }
}
@-webkit-keyframes in-plate-grow {
  0% {
    width: 10%;
    aspect-ratio: 1.5/1;
    border-radius: 5%;
  }
  100% {
    width: 70%;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
}
@keyframes in-plate-grow {
  0% {
    width: 10%;
    aspect-ratio: 1.5/1;
    border-radius: 5%;
  }
  100% {
    width: 70%;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
}

/*test with if / else

$start_loader: visited;

@if $start_loader {
    .loader{ 
        width: 100%;
        height: 100%;
        padding: 5vw;
        background: rgba(234,234,234,1);
        font-size: 100%;
        display: flex;
        justify-content: space-around;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-animation: fade-out 4000ms forwards;
        animation: fade-out 4000ms forwards; 
        pointer-events: none;
        z-index: 1000;

        &__wrapper{
            min-height: 150px;
            max-height: 400px;
            aspect-ratio: 1 / 1;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-evenly;
            position: -webkit-sticky;
            position: sticky;
            top: 20%;

            &__plate{
                width: 70%;
                aspect-ratio: 1 / 1;
                border-radius: 50%;
                background: radial-gradient(circle, rgba(255,255,255,1) 20%, rgba(153,226,208,1) 120%);
                display: flex;
                align-items: center;
                justify-content: space-around;
                position: relative;
                -webkit-filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.15));
                        filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.15));
                border: 2px solid rgba(180, 214, 205, 0.5);
                border-bottom: none;
                transform: rotate(0deg);
                -webkit-animation: plate-grow 1000ms ease-in 0ms 1;
                animation: plate-grow 1000ms ease-in 1;

                &__text{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    z-index: 5;
                    //background-color: rgba(0, 0, 0, .2);
                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    &__logo, &__wait{
                        position: absolute;
                        opacity: 1;
                        @include theme-font;
                        font-size: 1.5rem;
                        text-align: center;
                        color: #9356DC;
                        opacity: 1;
                        -webkit-animation: text-rotate 2000ms  infinite;
                                animation: text-rotate 2000ms  infinite;

                        @media (min-width: 500px){
                            font-size: 3.8vw;
                        }
                        @media (min-width: 780px){
                            font-size: 1.9rem;
                        }
                    }

                    &__logo{
                        //@include theme-font;
                        display: none;
                    }

                }

                &__shadowIn{
                    height: 70%;
                    aspect-ratio: 1 / 1;
                    border-radius: 50%;
                    border-bottom: 5px solid rgba(0, 0, 0, .25);
                    border-top: 1px solid rgba(0, 0, 0, .50);
                    background: white;
                    -webkit-filter: blur(1.5px);
                            filter: blur(1.5px);    
                }    
            }

            &__fork, &__knife{
                .cutlery{
                    height: 30vw;
                    min-height: 100px;
                    max-height: 200px;
                }
            }    
        }

    //Loader animation

    @-webkit-keyframes fade-out {
        75% {
            opacity: 1
        }
        100% {
            opacity: 0
        }
    }
    @keyframes fade-out {
        75% {
            opacity: 1
        }
        100% {
            opacity: 0
        }
    }

    @-webkit-keyframes text-rotate {
        0%{
            transform: rotate(720deg);
            opacity: 0;
        }
        100%{
            transform: rotate(1080deg);
            opacity: 1;
        }
    }
    @keyframes text-rotate {
        0%{
            transform: rotate(720deg);
            opacity: 0.5;
        }
        100%{
            transform: rotate(1080deg);
            opacity: 1;
        }
    }

    @-webkit-keyframes plate-grow{
        0%{
            width: 10%;
            border-radius: 5%;
            transform: rotate(0deg);
        }

        100%{
            width: 70%;
            border-radius: 50%;
            transform: rotate(360deg);
        }
    }

    @keyframes plate-grow{
        0%{
            width: 10%;
            border-radius: 5%;
            transform: rotate(0deg);
        }

        100%{
            width: 70%;
            border-radius: 50%;
            transform: rotate(360deg);
        }
    }
    }
      }
    @else if ($color == $white) {
    visibility: hidden;
      }*/
/*Pages*/
/* --Home page-- */
.home h2, .home h3 {
  font-weight: 700;
}

.home__blurb {
  background: #F6F6F6;
  text-align: center;
}
.home__blurb h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0;
}
@media (min-width: 767px) {
  .home__blurb h1 {
    font-size: 2.5rem;
  }
}
.home__blurb p {
  font-size: 1.12rem;
  font-weight: 300;
  margin: 1rem 0;
}

.home__steps h2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.home__steps ol {
  padding-right: 1rem;
}
.home__steps li {
  width: 100%;
  height: 72.5px;
  border-radius: 20px;
  background: #F6F6F6;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.home__steps li .child1 {
  width: 1.5rem;
  aspect-ratio: 1/1;
  display: block;
  border-radius: 0.75rem;
  color: white;
  background: #9356DC;
  text-align: center;
  line-height: 1.5rem;
  margin: 0 1rem 0 -1.25rem;
}
.home__steps li .child2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.home__steps li i {
  margin-right: 2vw;
}
.home__steps li .fa-store {
  color: #9356DC;
}
@media (min-width: 767px) {
  .home__steps {
    max-width: 1080px;
    margin: 0 auto;
  }
  .home__steps ol {
    display: flex;
    justify-content: space-between;
    padding-right: 0;
  }
  .home__steps ol li {
    width: 31%;
  }
}

.home__resto {
  background: #F6F6F6;
  position: relative;
  padding: 1.5rem 0;
}
.home__resto__wrapper {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
}
.home__resto article {
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  background: white;
  margin: 1rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.home__resto article a:hover img {
  transform: scale(1.02);
}
.home__resto article .flag__new {
  width: 5rem;
  height: 1.8rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background: #99E2D0;
  color: #008766;
  text-align: center;
  line-height: 1.8rem;
  border-radius: 2px;
  z-index: 10;
}
.home__resto article img {
  height: 14.45rem;
  -o-object-fit: cover;
  object-fit: cover;
  transform: scale(1);
  transition: all 400ms;
}
.home__resto article .home__article__content {
  padding: 1rem 3rem 1rem 1rem;
}
.home__resto article .home__article__content h3 {
  font-size: 1.12rem;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.home__resto article .home__article__content p {
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.home__resto article .favorit {
  position: absolute;
  bottom: 4%;
  right: 1.5%;
  z-index: 10;
}
@media (min-width: 767px) {
  .home__resto__wrapper {
    justify-content: space-between;
  }
  .home__resto__wrapper h2 {
    width: 100%;
  }
  .home__resto__wrapper article {
    width: 48%;
  }
}

/* --Resto pages-- */
.resto__img {
  height: 400px;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.resto .palette_gout {
  background-image: url("../../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.resto .note-enchant {
  background-image: url("../../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.resto .delice-sens {
  background-image: url("../../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
.resto .a-la-francaise {
  background-image: url("../../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.resto__menu {
  background: #F6F6F6;
  border-radius: 40px 40px 0 0;
  max-width: 1080px;
  margin: -40px auto 0 auto;
}
.resto__menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.resto__menu__title h1 {
  max-width: 80%;
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  margin: 1rem 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (min-width: 767px) {
  .resto__menu__title {
    margin: 1rem auto;
    max-width: 350px;
  }
}
.resto__menu form {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  position: relative;
}
.resto__menu form fieldset {
  box-sizing: border-box;
  width: 100%;
  min-width: 10px;
}
.resto__menu form legend {
  margin: 1.5rem 0 0.5rem 0;
}
.resto__menu form hr {
  width: 40px;
  height: 3px;
  border: none;
  background: #99E2D0;
  margin: 0.25rem 0 0 0;
}
.resto__menu form .form__card {
  width: 100%;
  height: 4.5rem;
  background: white;
  margin: 1rem 0;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  transform: scale(1);
}
.resto__menu form .form__card.form__card_1 {
  transform: scale(1);
}
.resto__menu form .form__card.form__card_2 {
  transform: scale(1);
}
.resto__menu form .form__card.form__card_3 {
  transform: scale(1);
}
.resto__menu form .form__card.form__card_4 {
  transform: scale(1);
}
.resto__menu form .form__card.form__card_5 {
  transform: scale(1);
}
.resto__menu form .form__card.form__card_6 {
  transform: scale(1);
}
.resto__menu form .form__card.form__card_7 {
  transform: scale(1);
}
.resto__menu form .form__card.form__card_8 {
  transform: scale(1);
}
.resto__menu form .form__card.form__card_9 {
  transform: scale(1);
}
.resto__menu form .form__card.form__card_10 {
  transform: scale(1);
}
.resto__menu form .form__card.form__card_11 {
  transform: scale(1);
}
.resto__menu form .form__card.form__card_12 {
  transform: scale(1);
}
.resto__menu form .form__card.form__card_1 {
  transform: scale(1.5);
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}
.resto__menu form .form__card.form__card_2 {
  transform: scale(1.5);
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}
.resto__menu form .form__card.form__card_3 {
  transform: scale(1.5);
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}
.resto__menu form .form__card.form__card_4 {
  transform: scale(1.5);
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
}
.resto__menu form .form__card.form__card_5 {
  transform: scale(1.5);
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-delay: 1000ms;
  animation-delay: 1000ms;
}
.resto__menu form .form__card.form__card_6 {
  transform: scale(1.5);
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-delay: 1200ms;
  animation-delay: 1200ms;
}
.resto__menu form .form__card.form__card_7 {
  transform: scale(1.5);
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-delay: 1400ms;
  animation-delay: 1400ms;
}
.resto__menu form .form__card.form__card_8 {
  transform: scale(1.5);
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-delay: 1600ms;
  animation-delay: 1600ms;
}
.resto__menu form .form__card.form__card_9 {
  transform: scale(1.5);
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-delay: 1800ms;
  animation-delay: 1800ms;
}
.resto__menu form .form__card.form__card_10 {
  transform: scale(1.5);
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-delay: 2000ms;
  animation-delay: 2000ms;
}
.resto__menu form .form__card.form__card_11 {
  transform: scale(1.5);
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-delay: 2200ms;
  animation-delay: 2200ms;
}
.resto__menu form .form__card.form__card_12 {
  transform: scale(1.5);
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-delay: 2400ms;
  animation-delay: 2400ms;
}
.resto__menu form .form__card__content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: width 1000ms;
}
.resto__menu form .form__card__content h2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.resto__menu form .form__card__content__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.resto__menu form .form__card__content__info :first-child {
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.resto__menu form .form__card__content__info :last-child {
  white-space: nowrap;
}
.resto__menu form .form__card__content__label {
  width: calc(100% + 4.5rem);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  transition: width 1000ms;
}
.resto__menu form .form__card__content__label__checkwrap {
  height: 100%;
  aspect-ratio: 1/1;
  background: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  right: 0;
  transition: right 1000ms;
}
.resto__menu form .form__card__content__label__checkwrap__bgInt {
  width: 60%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.resto__menu form .form__card__content__label__checkwrap__bgInt .fa-check {
  color: #99E2D0;
  font-size: 1.5rem;
}
.resto__menu form .form__card__content__checkbox {
  display: none;
}
@media (min-width: 1024px) {
  .resto__menu form .form__card__content__checkbox:hover ~ .form__card__content__label {
    width: 100%;
  }
  .resto__menu form .form__card__content__checkbox:hover ~ .form__card__content {
    width: calc(100% - 4rem);
  }
}
.resto__menu form .form__card__content__checkbox:checked ~ .form__card__content__label {
  width: 100%;
}
.resto__menu form .form__card__content__checkbox:checked ~ .form__card__content {
  width: calc(100% - 4rem);
}
@-webkit-keyframes fade-in {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* --Elements for all site-- */
/*Call to action*/
.btn {
  max-width: 218px;
  height: 50px;
  padding: 0 0.5rem;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: 1.1rem;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2.5rem auto;
  opacity: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: all 400ms;
}
.btn:hover {
  transform: scale(1.01);
  opacity: 0.85;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.3);
}
@media (min-width: 300px) {
  .btn {
    width: 218px;
  }
}

/*Heart checkbox*/
.favorit {
  width: 50px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.favorit .heart {
  width: 80%;
  aspect-ratio: 1/1;
  display: grid;
  top: 3%;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  position: relative;
  transform: rotate(-135deg);
  padding-top: 25%;
  padding-left: 25%;
}
.favorit .heart__left, .favorit .heart__right, .favorit .heart__whiteright {
  grid-column: 1/2;
  grid-row: 1/2;
  background: linear-gradient(135deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  box-shadow: inset 0 50px 0 rgb(255, 255, 255);
  transition: box-shadow 400ms;
}
.favorit .heart__left, .favorit .heart__right {
  border: 2px solid black;
}
.favorit .heart__left {
  width: 200%;
  height: 110%;
  border-radius: 0 9vw 9vw 0;
  z-index: 1;
}
.favorit .heart__right {
  height: 200%;
  width: 110%;
  border-radius: 0 0 9vw 9vw;
  z-index: 2;
}
.favorit .heart__whiteright {
  border: 1px solid white;
  width: calc(200% - 3.75px);
  height: calc(110% - 3px);
  border-radius: 0 10vw 10vw 0;
  margin-top: 1.5px;
  margin-left: 2px;
  z-index: 3;
}
.favorit .heart input[type=checkbox] {
  visibility: hidden;
  width: 1rem;
  height: 1rem;
  position: relative;
}
.favorit .heart input[type=checkbox]:checked ~ .heart__transit {
  box-shadow: inset 0 0px 0px rgba(255, 255, 255, 0);
  border: none;
}
.favorit .heart input[type=checkbox]:checked ~ .heart__whiteright {
  box-shadow: inset 0 0px 0px rgba(255, 255, 255, 0);
  border: none;
}
@media (min-width: 1024px) {
  .favorit .heart:hover .heart__left, .favorit .heart:hover .heart__right {
    box-shadow: inset 0 0px 0px rgb(255, 255, 255);
    border: none;
  }
  .favorit .heart:hover .heart__whiteright {
    box-shadow: inset 0 0px 0px rgba(255, 255, 255, 0);
    border: none;
  }
}

/* --FOOTER-- */
footer {
  background: #353535;
}
footer dl {
  display: flex;
  flex-direction: column;
}
@media (min-width: 767px) {
  footer dl {
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
  footer dl dt {
    width: 20%;
    text-align: center;
  }
  footer dl dt, footer dl dd {
    margin: 0.5rem;
  }
}
footer dt {
  margin: 1rem 0;
  font-family: "Shrikhand", cursive;
  font-size: 1.4rem;
}
footer dd {
  margin: 0.4rem 0;
}
footer a {
  color: white;
}
footer a .fa-utensils, footer a .fa-handshake-angle {
  margin-right: 0.5rem;
}
@media (min-width: 1023px) {
  footer {
    text-align: right;
    display: flex;
    justify-content: flex-end;
  }
  footer dl {
    width: 70%;
  }
  footer dl dt {
    order: 5;
    width: 20%;
  }
}

/*# sourceMappingURL=default.css.map */
